In [8]:
1+1

2

In [9]:
import polars as pl
import pandas as pd

In [10]:
import requests

url = 'https://prices.runescape.wiki/api/v1/osrs/mapping'

headers = {
    'User-Agent': 'Major Discount Notification 0.1',
    'From': 'j.grant.redskins@gmail.com'  # This is another valid field
}

response = requests.get(url, headers=headers)

In [11]:
response.json()[0]

{'examine': 'Fabulously ancient mage protection enchanted in the 3rd Age.',
 'id': 10344,
 'members': True,
 'lowalch': 20200,
 'limit': 8,
 'value': 50500,
 'highalch': 30300,
 'icon': '3rd age amulet.png',
 'name': '3rd age amulet'}

In [12]:
# Polars native functions not working...
# df_map = pl.from_dict(response.json())
# df_map = pl.read_json(response.json())
df_map = pd.json_normalize(response.json())
df_map = pl.DataFrame(df_map)
df_map.sample(3)

shape: (3, 9)
┌───────────────┬──────┬─────────┬─────────┬─────┬───────┬──────────┬───────────────┬──────────────┐
│ examine       ┆ id   ┆ members ┆ lowalch ┆ ... ┆ value ┆ highalch ┆ icon          ┆ name         │
│ ---           ┆ ---  ┆ ---     ┆ ---     ┆     ┆ ---   ┆ ---      ┆ ---           ┆ ---          │
│ str           ┆ i64  ┆ bool    ┆ f64     ┆     ┆ i64   ┆ f64      ┆ str           ┆ str          │
╞═══════════════╪══════╪═════════╪═════════╪═════╪═══════╪══════════╪═══════════════╪══════════════╡
│ I can do      ┆ 7390 ┆ false   ┆ 6.0     ┆ ... ┆ 15    ┆ 9.0      ┆ Blue wizard   ┆ Blue wizard  │
│ magic better  ┆      ┆         ┆         ┆     ┆       ┆          ┆ robe (g).png  ┆ robe (g)     │
│ in this.      ┆      ┆         ┆         ┆     ┆       ┆          ┆               ┆              │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ The blade is  ┆ 5696 ┆ true    ┆ 3200.0  ┆ ... ┆ 8000  ┆ 4800.0   ┆ Rune dagger(p ┆ Rune         │
│ covered with  ┆      ┆         ┆         ┆     ┆       ┆          ┆ ++).png       ┆ dagger(p++)  │
│ a nast...     ┆      ┆         ┆         ┆     ┆       ┆          ┆               ┆              │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ A large       ┆ 3355 ┆ true    ┆ 60.0    ┆ ... ┆ 150   ┆ 90.0     ┆ Blamish myre  ┆ Blamish myre │
│ 'Myre'        ┆      ┆         ┆         ┆     ┆       ┆          ┆ shell         ┆ shell        │
│ coloured      ┆      ┆         ┆         ┆     ┆       ┆          ┆ (pointed).png ┆ (pointed)    │
│ blamish ...   ┆      ┆         ┆         ┆     ┆       ┆          ┆               ┆              │
└───────────────┴──────┴─────────┴─────────┴─────┴───────┴──────────┴───────────────┴──────────────┘

In [13]:
df_map.with_columns(
    [
        pl.col("examine").cast(pl.Utf8), pl.col("id").cast(pl.Int64), pl.col("members").cast(pl.Boolean),
        pl.col("lowalch").cast(pl.Float64), pl.col("limit").cast(pl.Float64), pl.col("value").cast(pl.Int64),
        pl.col("highalch").cast(pl.Float64), pl.col("icon").cast(pl.Utf8), pl.col("name").cast(pl.Utf8),
    ]
).sample(3)

# need to assign... collect? learn about lazy programming

shape: (3, 9)
┌───────────────┬───────┬─────────┬─────────┬─────┬───────┬──────────┬──────────────┬──────────────┐
│ examine       ┆ id    ┆ members ┆ lowalch ┆ ... ┆ value ┆ highalch ┆ icon         ┆ name         │
│ ---           ┆ ---   ┆ ---     ┆ ---     ┆     ┆ ---   ┆ ---      ┆ ---          ┆ ---          │
│ str           ┆ i64   ┆ bool    ┆ f64     ┆     ┆ i64   ┆ f64      ┆ str          ┆ str          │
╞═══════════════╪═══════╪═════════╪═════════╪═════╪═══════╪══════════╪══════════════╪══════════════╡
│ Don't breath  ┆ 25524 ┆ true    ┆ 1.0     ┆ ... ┆ 1     ┆ 1.0      ┆ Jar of       ┆ Jar of smoke │
│ in.           ┆       ┆         ┆         ┆     ┆       ┆          ┆ smoke.png    ┆              │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ A poison-tipp ┆ 11396 ┆ true    ┆ 130.0   ┆ ... ┆ 325   ┆ 195.0    ┆ Steel hasta( ┆ Steel        │
│ ed,           ┆       ┆         ┆         ┆     ┆       ┆          ┆ p+).png      ┆ hasta(p+)    │
│ one-handed    ┆       ┆         ┆         ┆     ┆       ┆          ┆              ┆              │
│ stee...       ┆       ┆         ┆         ┆     ┆       ┆          ┆              ┆              │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ A poison-tipp ┆ 11407 ┆ true    ┆ 832.0   ┆ ... ┆ 2080  ┆ 1248.0   ┆ Adamant      ┆ Adamant      │
│ ed,           ┆       ┆         ┆         ┆     ┆       ┆          ┆ hasta(p).png ┆ hasta(p)     │
│ one-handed    ┆       ┆         ┆         ┆     ┆       ┆          ┆              ┆              │
│ adam...       ┆       ┆         ┆         ┆     ┆       ┆          ┆              ┆              │
└───────────────┴───────┴─────────┴─────────┴─────┴───────┴──────────┴──────────────┴──────────────┘

In [14]:
osrs_item_ids = [
    563, 562, 560, 565, 573, 569, 571, 1777, 5295, 257, 207, 99, 231, 139, 561
]
osrs_high_alch_item_ids = [
    1397
]

df_map.filter(pl.col('id').is_in((osrs_item_ids + osrs_high_alch_item_ids)))#.sample(3)

shape: (16, 9)
┌───────────────┬──────┬─────────┬─────────┬─────┬───────┬──────────┬───────────────┬──────────────┐
│ examine       ┆ id   ┆ members ┆ lowalch ┆ ... ┆ value ┆ highalch ┆ icon          ┆ name         │
│ ---           ┆ ---  ┆ ---     ┆ ---     ┆     ┆ ---   ┆ ---      ┆ ---           ┆ ---          │
│ str           ┆ i64  ┆ bool    ┆ f64     ┆     ┆ i64   ┆ f64      ┆ str           ┆ str          │
╞═══════════════╪══════╪═════════╪═════════╪═════╪═══════╪══════════╪═══════════════╪══════════════╡
│ It's a        ┆ 1397 ┆ true    ┆ 6200.0  ┆ ... ┆ 15500 ┆ 9300.0   ┆ Air battlesta ┆ Air          │
│ slightly      ┆      ┆         ┆         ┆     ┆       ┆          ┆ ff.png        ┆ battlestaff  │
│ magical       ┆      ┆         ┆         ┆     ┆       ┆          ┆               ┆              │
│ stick.        ┆      ┆         ┆         ┆     ┆       ┆          ┆               ┆              │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ A magic       ┆ 573  ┆ true    ┆ 120.0   ┆ ... ┆ 300   ┆ 180.0    ┆ Air orb.png   ┆ Air orb      │
│ glowing orb.  ┆      ┆         ┆         ┆     ┆       ┆          ┆               ┆              │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Used for high ┆ 565  ┆ true    ┆ 160.0   ┆ ... ┆ 400   ┆ 240.0    ┆ Blood         ┆ Blood rune   │
│ level missile ┆      ┆         ┆         ┆     ┆       ┆          ┆ rune.png      ┆              │
│ spel...       ┆      ┆         ┆         ┆     ┆       ┆          ┆               ┆              │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ I need a bow  ┆ 1777 ┆ true    ┆ 4.0     ┆ ... ┆ 10    ┆ 6.0      ┆ Bow           ┆ Bow string   │
│ stave to      ┆      ┆         ┆         ┆     ┆       ┆          ┆ string.png    ┆              │
│ attach thi... ┆      ┆         ┆         ┆     ┆       ┆          ┆               ┆              │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ ...           ┆ ...  ┆ ...     ┆ ...     ┆ ... ┆ ...   ┆ ...      ┆ ...           ┆ ...          │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ A ranarr seed ┆ 5295 ┆ true    ┆ 20.0    ┆ ... ┆ 50    ┆ 30.0     ┆ Ranarr seed   ┆ Ranarr seed  │
│ - plant in a  ┆      ┆         ┆         ┆     ┆       ┆          ┆ 5.png         ┆              │
│ herb ...      ┆      ┆         ┆         ┆     ┆       ┆          ┆               ┆              │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ A useful      ┆ 257  ┆ true    ┆ 10.0    ┆ ... ┆ 25    ┆ 15.0     ┆ Ranarr        ┆ Ranarr weed  │
│ herb.         ┆      ┆         ┆         ┆     ┆       ┆          ┆ weed.png      ┆              │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Strange spiky ┆ 231  ┆ true    ┆ 4.0     ┆ ... ┆ 10    ┆ 6.0      ┆ Snape         ┆ Snape grass  │
│ grass.        ┆      ┆         ┆         ┆     ┆       ┆          ┆ grass.png     ┆              │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ A magic       ┆ 571  ┆ true    ┆ 120.0   ┆ ... ┆ 300   ┆ 180.0    ┆ Water orb.png ┆ Water orb    │
│ glowing orb.  ┆      ┆         ┆         ┆     ┆       ┆          ┆               ┆              │
└───────────────┴──────┴─────────┴─────────┴─────┴───────┴──────────┴───────────────┴──────────────┘

Long term trending...

want to know when to buy certain runes

don't use for orbs when looking for prices to buy at. use: https://prices.runescape.wiki/api/v1/osrs/1h instead?
buy price: <= X, Profit: Y
via: (example) Air_Battlestaff.highalch - nature rune most recent 1hr price - 7000 for battlestaff >= 0.

either way, write to parquet. overwrite data in the same partition... (for long-term trending)...
read from parquet

        # pl.col("ymd_h").str.strptime(pl.Datetime, fmt="%y-%m-%d %H")

look for value <= 25P?

Trying out data conditioning on a single return

In [15]:
base_url = 'https://prices.runescape.wiki/api/v1/osrs/timeseries?timestep=1h&id='
headers = {
    'User-Agent': 'Major Discount Notification 0.1',
    'From': 'j.grant.redskins@gmail.com'  # This is another valid field
}

response = requests.get(
        base_url + str(573), headers=headers
    )

pl.DataFrame(
    pd.json_normalize(response.json(), record_path=['data'])
).with_column(
    pl.lit(573).alias('id')
).sample(3)

shape: (3, 6)
┌────────────┬──────────────┬─────────────┬─────────────────┬────────────────┬─────┐
│ timestamp  ┆ avgHighPrice ┆ avgLowPrice ┆ highPriceVolume ┆ lowPriceVolume ┆ id  │
│ ---        ┆ ---          ┆ ---         ┆ ---             ┆ ---            ┆ --- │
│ i64        ┆ i64          ┆ i64         ┆ i64             ┆ i64            ┆ i32 │
╞════════════╪══════════════╪═════════════╪═════════════════╪════════════════╪═════╡
│ 1665586800 ┆ 1539         ┆ 1517        ┆ 50713           ┆ 24209          ┆ 573 │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ 1665576000 ┆ 1548         ┆ 1515        ┆ 51389           ┆ 5611           ┆ 573 │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ 1665169200 ┆ 1477         ┆ 1468        ┆ 58692           ┆ 26574          ┆ 573 │
└────────────┴──────────────┴─────────────┴─────────────────┴────────────────┴─────┘

In [16]:
base_url = 'https://prices.runescape.wiki/api/v1/osrs/timeseries?timestep=1h&id='
headers = {
    'User-Agent': 'Major Discount Notification 0.1',
    'From': 'j.grant.redskins@gmail.com'  # This is another valid field
}

df_timeseries = pl.DataFrame()

for item_id in osrs_item_ids:
    # print(base_url + str(item_id))
    response = requests.get(
        base_url + str(item_id), headers=headers
    )
    df_timeseries = pl.concat(
        [
            df_timeseries, pl.DataFrame(
                pd.json_normalize(response.json(), record_path=['data'])
            ).lazy().with_column(
                pl.lit(item_id).alias('id')
            ).with_columns(
                [
                    pl.col("timestamp").cast(pl.Int64), pl.col("avgHighPrice").cast(pl.Int64), pl.col("avgLowPrice").cast(pl.Int64),
                    pl.col("highPriceVolume").cast(pl.Int64), pl.col("lowPriceVolume").cast(pl.Int64), pl.col("id").cast(pl.Int64)
                ]
            ).with_column(
                (pl.col("timestamp") * 1e3).cast(pl.Datetime).dt.with_time_unit("ms").alias("datetime")
            ).with_column(
                pl.col("datetime").dt.strftime(fmt="%Y-%m-%d %H").cast(pl.Utf8).alias("ymd_h")
            ).collect()
        ], how = "diagonal", rechunk = True #vertical
    )

    # .with_column(
    #             pl.col("datetime").str.strptime(pl.Datetime, fmt="%y-%m-%d %H").alias("ymd_h")
    #         )

In [18]:
df_timeseries.sample(3)

shape: (3, 9)
┌────────────┬────────────┬───────────┬────────────┬─────┬─────┬─────────┬────────────┬────────────┐
│ timestamp  ┆ avgHighPri ┆ avgLowPri ┆ highPriceV ┆ ... ┆ id  ┆ item_id ┆ datetime   ┆ ymd_h      │
│ ---        ┆ ce         ┆ ce        ┆ olume      ┆     ┆ --- ┆ ---     ┆ ---        ┆ ---        │
│ i64        ┆ ---        ┆ ---       ┆ ---        ┆     ┆ i64 ┆ i64     ┆ datetime[m ┆ str        │
│            ┆ i64        ┆ i64       ┆ i64        ┆     ┆     ┆         ┆ s]         ┆            │
╞════════════╪════════════╪═══════════╪════════════╪═════╪═════╪═════════╪════════════╪════════════╡
│ 1665482400 ┆ 7294       ┆ 7316      ┆ 1988       ┆ ... ┆ 207 ┆ 207     ┆ 2022-10-11 ┆ 2022-10-11 │
│            ┆            ┆           ┆            ┆     ┆     ┆         ┆ 10:00:00   ┆ 10         │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 1664542800 ┆ 82         ┆ 80        ┆ 397773     ┆ ... ┆ 562 ┆ 562     ┆ 2022-09-30 ┆ 2022-09-30 │
│            ┆            ┆           ┆            ┆     ┆     ┆         ┆ 13:00:00   ┆ 13         │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 1664686800 ┆ 248        ┆ 244       ┆ 1721306    ┆ ... ┆ 565 ┆ 565     ┆ 2022-10-02 ┆ 2022-10-02 │
│            ┆            ┆           ┆            ┆     ┆     ┆         ┆ 05:00:00   ┆ 05         │
└────────────┴────────────┴───────────┴────────────┴─────┴─────┴─────────┴────────────┴────────────┘

In [67]:
from pathlib import Path
Path("data/").mkdir(parents=True, exist_ok=True)

df_timeseries.write_parquet("data/test.parquet", compression = "zstd")

df_timeseries = pl.concat(
    [
        df_timeseries,
        # historical records saved off from previous run
        pl.scan_parquet("data/test.parquet").filter(
            pl.col("datetime") < df_timeseries.select("datetime").min()[0,0]
        ).collect()
    ], how = "vertical", rechunk = True
)

In [103]:
df_timeseries.join(
    df_map.filter(pl.col('id').is_in((osrs_item_ids + osrs_high_alch_item_ids))).select(
        ["id", "highalch", "members", "name"]
    ),
    on="id", how="inner"
).sample(3)

shape: (3, 12)
┌─────────┬────────────┬───────────┬────────────┬─────┬─────────────┬───────┬─────────┬────────────┐
│ timesta ┆ avgHighPri ┆ avgLowPri ┆ highPriceV ┆ ... ┆ ymd_h       ┆ higha ┆ members ┆ name       │
│ mp      ┆ ce         ┆ ce        ┆ olume      ┆     ┆ ---         ┆ lch   ┆ ---     ┆ ---        │
│ ---     ┆ ---        ┆ ---       ┆ ---        ┆     ┆ str         ┆ ---   ┆ bool    ┆ str        │
│ i64     ┆ i64        ┆ i64       ┆ i64        ┆     ┆             ┆ f64   ┆         ┆            │
╞═════════╪════════════╪═══════════╪════════════╪═════╪═════════════╪═══════╪═════════╪════════════╡
│ 1665770 ┆ 253        ┆ 249       ┆ 1597086    ┆ ... ┆ 2022-10-14  ┆ 240.0 ┆ true    ┆ Blood rune │
│ 400     ┆            ┆           ┆            ┆     ┆ 18          ┆       ┆         ┆            │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 1664776 ┆ 86         ┆ 83        ┆ 433364     ┆ ... ┆ 2022-10-03  ┆ 54.0  ┆ false   ┆ Chaos rune │
│ 800     ┆            ┆           ┆            ┆     ┆ 06          ┆       ┆         ┆            │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 1665579 ┆ 243        ┆ 242       ┆ 1096137    ┆ ... ┆ 2022-10-12  ┆ 240.0 ┆ true    ┆ Blood rune │
│ 600     ┆            ┆           ┆            ┆     ┆ 13          ┆       ┆         ┆            │
└─────────┴────────────┴───────────┴────────────┴─────┴─────────────┴───────┴─────────┴────────────┘

... or calculate median on avgHighPrice by id

In [80]:
df_timeseries.groupby("id").agg(
    pl.col("avgHighPrice").median()
).rename({"avgHighPrice": "med_avgHighPrice"}).sample(3)

shape: (3, 2)
┌──────┬──────────────────┐
│ id   ┆ med_avgHighPrice │
│ ---  ┆ ---              │
│ i64  ┆ f64              │
╞══════╪══════════════════╡
│ 569  ┆ 1440.0           │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 257  ┆ 7387.0           │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 1777 ┆ 77.0             │
└──────┴──────────────────┘

In [92]:
df_timeseries.groupby("id").agg(
    [
        pl.all().sort_by('datetime').last()
    ]
).rename(
    {"avgHighPrice": "last_avgHighPrice", "avgLowPrice": "last_avgLowPrice"}
).select(["id", "last_avgHighPrice", "last_avgLowPrice"]).sample(2)

shape: (2, 3)
┌─────┬───────────────────┬──────────────────┐
│ id  ┆ last_avgHighPrice ┆ last_avgLowPrice │
│ --- ┆ ---               ┆ ---              │
│ i64 ┆ i64               ┆ i64              │
╞═════╪═══════════════════╪══════════════════╡
│ 565 ┆ 253               ┆ 251              │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 99  ┆ 7386              ┆ 7364             │
└─────┴───────────────────┴──────────────────┘

In [93]:
df_results = df_timeseries.lazy().groupby("id").agg(
    pl.col("avgHighPrice").median()
).rename({"avgHighPrice": "med_avgHighPrice"}).join(
    df_timeseries.lazy().groupby("id").agg(
        [
            pl.all().sort_by('datetime').last()
        ]
    ).rename(
        {"avgHighPrice": "last_avgHighPrice", "avgLowPrice": "last_avgLowPrice"}
    ).select(["id", "last_avgHighPrice", "last_avgLowPrice"]),
    on="id", how="inner"
).join(
    df_map.lazy().filter(pl.col('id').is_in((osrs_item_ids + osrs_high_alch_item_ids))).select(
        ["id", "highalch", "members", "name"]
    ),
    on="id", how="inner"
).collect()

df_results.sample(2)

shape: (2, 7)
┌──────┬────────┬──────┬──────┬──────────┬─────────┬─────────────┐
│ id   ┆ med_av ┆ last ┆ last ┆ highalch ┆ members ┆ name        │
│ ---  ┆ gHighP ┆ _avg ┆ _avg ┆ ---      ┆ ---     ┆ ---         │
│ i64  ┆ rice   ┆ High ┆ LowP ┆ f64      ┆ bool    ┆ str         │
│      ┆ ---    ┆ Pric ┆ rice ┆          ┆         ┆             │
│      ┆ f64    ┆ e    ┆ ---  ┆          ┆         ┆             │
│      ┆        ┆ ---  ┆ i64  ┆          ┆         ┆             │
│      ┆        ┆ i64  ┆      ┆          ┆         ┆             │
╞══════╪════════╪══════╪══════╪══════════╪═════════╪═════════════╡
│ 257  ┆ 7387.0 ┆ 7199 ┆ 7167 ┆ 15.0     ┆ true    ┆ Ranarr weed │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 1777 ┆ 77.0   ┆ 77   ┆ 76   ┆ 6.0      ┆ true    ┆ Bow string  │
└──────┴────────┴──────┴──────┴──────────┴─────────┴─────────────┘

In [127]:
# high alch
# high_alch = df_map.filter(pl.col("id") == 1397).select("highalch")[0,0]
# nature rune
# nat_price = df_results.filter(pl.col("id") == 561).select("last_avgHighPrice")[0,0]
# battle staff = 7000
# air orb

df_air_b = df_results.lazy().filter(pl.col("id") == 573).with_columns(
    [
        (
            (
                df_map.filter(pl.col("id") == 1397).select("highalch")[0,0] - 
                (df_results.filter(pl.col("id") == 561).select("last_avgHighPrice")[0,0] + 7000)
            ) - pl.col("last_avgHighPrice")
        ).alias("profit"),
        (
            pl.col("last_avgHighPrice")/pl.col("med_avgHighPrice")
        ).round(2).alias("discount")
    ]
).with_columns(
    [
        pl.when(
                pl.col("profit") >= 0
            ).then("Buy").otherwise("Don't Buy").alias("if_Buy_str"),
        pl.when(pl.col("profit") >= 0).then(
            pl.concat_str(
                [
                    pl.lit(" between"),
                    pl.col("last_avgLowPrice"),
                    pl.lit("and"),
                    pl.col("last_avgHighPrice")
                ], sep = " "
            )
        ).otherwise("").alias("extra_str")
    ]
).collect()

air_orb_573 = (
    "### Air Orb:\n<br /> **" + str(df_air_b.select("if_Buy_str")[0,0]) + "**" +
    str(df_air_b.select("extra_str")[0,0]) + "\n<br />" +
    "**Profit**: *" + str(df_air_b.select("profit")[0,0]) + "*" +
    "**Value**: *" + str(df_air_b.select("discount")[0,0]) + "x against historical median*"
)

print(air_orb_573)

### Air Orb:
<br /> **Buy** between 1499 and 1517
<br />**Profit**: *648.0***Value**: *1.04x against historical median*

Let's try functionalizing...

In [129]:
def my_function():
    print("hello world")

my_function()

hello world

In [20]:
# import pyarrow.parquet as pq
# # arrow_table = df_timeseries.to_arrow
# arrow_table = df_timeseries.select(pl.all().exclude("datetime")).to_arrow()
# arrow_table

pyarrow.Table
timestamp: int64
avgHighPrice: int64
avgLowPrice: int64
highPriceVolume: int64
lowPriceVolume: int64
id: int64
item_id: int64
ymd_h: large_string
----
timestamp: [[1664470800,1664474400,1664478000,1664481600,1664485200,...,1665766800,1665770400,1665774000,1665777600,1665781200]]
avgHighPrice: [[127,127,128,127,126,...,139,137,138,139,135]]
avgLowPrice: [[125,125,125,124,125,...,137,137,137,136,134]]
highPriceVolume: [[356810,313324,364811,360504,173730,...,429234,759525,561314,843134,1161808]]
lowPriceVolume: [[301286,247797,247813,351632,353160,...,195556,287272,280842,712153,331325]]
id: [[563,563,563,563,563,...,561,561,561,561,561]]
item_id: [[563,563,563,563,563,...,561,561,561,561,561]]
ymd_h: [["2022-09-29 17","2022-09-29 18","2022-09-29 19","2022-09-29 20","2022-09-29 21",...,"2022-10-14 17","2022-10-14 18","2022-10-14 19","2022-10-14 20","2022-10-14 21"]]

In [ ]:
## do not use write_dataset() for partitioning... creates many partitions and will be inneficient due to the schema copying for each file.
## instead, write a single parquet file, read in... can I query for date ranges < min of current dataset? to only bring historical (added) data into memory.

# import pyarrow.dataset as ds

# ds.write_dataset(
#     df_timeseries.to_arrow(),
#     # df_timeseries,
#     base_dir = "data/",
#     partitioning = ["ymd_h"],
#     format = "parquet",
#     existing_data_behavior = "overwrite_or_ignore"
# )