In [186]:
1+1

2

In [187]:
import polars as pl
import pandas as pd

In [188]:
import requests

url = 'https://prices.runescape.wiki/api/v1/osrs/mapping'

headers = {
    'User-Agent': 'Major Discount Notification 0.1',
    'From': 'j.grant.redskins@gmail.com'  # This is another valid field
}

response = requests.get(url, headers=headers)

In [189]:
response.json()[0]

{'examine': 'Fabulously ancient mage protection enchanted in the 3rd Age.',
 'id': 10344,
 'members': True,
 'lowalch': 20200,
 'limit': 8,
 'value': 50500,
 'highalch': 30300,
 'icon': '3rd age amulet.png',
 'name': '3rd age amulet'}

In [190]:
# Polars native functions not working...
# df_map = pl.from_dict(response.json())
# df_map = pl.read_json(response.json())
df_map = pd.json_normalize(response.json())
df_map = pl.DataFrame(df_map)
df_map.sample(3)

shape: (3, 9)
┌───────────────┬───────┬─────────┬─────────┬─────┬───────┬──────────┬──────────────┬──────────────┐
│ examine       ┆ id    ┆ members ┆ lowalch ┆ ... ┆ value ┆ highalch ┆ icon         ┆ name         │
│ ---           ┆ ---   ┆ ---     ┆ ---     ┆     ┆ ---   ┆ ---      ┆ ---          ┆ ---          │
│ str           ┆ i64   ┆ bool    ┆ f64     ┆     ┆ i64   ┆ f64      ┆ str          ┆ str          │
╞═══════════════╪═══════╪═════════╪═════════╪═════╪═══════╪══════════╪══════════════╪══════════════╡
│ A powerful    ┆ 1355  ┆ false   ┆ 208.0   ┆ ... ┆ 520   ┆ 312.0    ┆ Mithril      ┆ Mithril axe  │
│ axe.          ┆       ┆         ┆         ┆     ┆       ┆          ┆ axe.png      ┆              │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ A poison-tipp ┆ 22740 ┆ true    ┆ 24960.0 ┆ ... ┆ 62400 ┆ 37440.0  ┆ Dragon hasta ┆ Dragon       │
│ ed,           ┆       ┆         ┆         ┆     ┆       ┆          ┆ (p++).png    ┆ hasta(p++)   │
│ one-handed    ┆       ┆         ┆         ┆     ┆       ┆          ┆              ┆              │
│ drag...       ┆       ┆         ┆         ┆     ┆       ┆          ┆              ┆              │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ What a        ┆ 20205 ┆ false   ┆ 1.0     ┆ ... ┆ 2     ┆ 1.0      ┆ Golden       ┆ Golden       │
│ perfectly     ┆       ┆         ┆         ┆     ┆       ┆          ┆ chef's       ┆ chef's hat   │
│ reasonable    ┆       ┆         ┆         ┆     ┆       ┆          ┆ hat.png      ┆              │
│ hat.          ┆       ┆         ┆         ┆     ┆       ┆          ┆              ┆              │
└───────────────┴───────┴─────────┴─────────┴─────┴───────┴──────────┴──────────────┴──────────────┘

In [191]:
df_map.with_columns(
    [
        pl.col("examine").cast(pl.Utf8), pl.col("id").cast(pl.Int64), pl.col("members").cast(pl.Boolean),
        pl.col("lowalch").cast(pl.Float64), pl.col("limit").cast(pl.Float64), pl.col("value").cast(pl.Int64),
        pl.col("highalch").cast(pl.Float64), pl.col("icon").cast(pl.Utf8), pl.col("name").cast(pl.Utf8),
    ]
).sample(3)

# need to assign... collect? learn about lazy programming

shape: (3, 9)
┌───────────────┬───────┬─────────┬─────────┬─────┬───────┬──────────┬──────────────┬──────────────┐
│ examine       ┆ id    ┆ members ┆ lowalch ┆ ... ┆ value ┆ highalch ┆ icon         ┆ name         │
│ ---           ┆ ---   ┆ ---     ┆ ---     ┆     ┆ ---   ┆ ---      ┆ ---          ┆ ---          │
│ str           ┆ i64   ┆ bool    ┆ f64     ┆     ┆ i64   ┆ f64      ┆ str          ┆ str          │
╞═══════════════╪═══════╪═════════╪═════════╪═════╪═══════╪══════════╪══════════════╪══════════════╡
│ A sinister    ┆ 1361  ┆ false   ┆ 153.0   ┆ ... ┆ 384   ┆ 230.0    ┆ Black        ┆ Black axe    │
│ looking axe.  ┆       ┆         ┆         ┆     ┆       ┆          ┆ axe.png      ┆              │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ That's how I  ┆ 7445  ┆ true    ┆ 5760.0  ┆ ... ┆ 14400 ┆ 8640.0   ┆ Rolling      ┆ Rolling pin  │
│ roll!         ┆       ┆         ┆         ┆     ┆       ┆          ┆ pin.png      ┆              │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ A poison-tipp ┆ 11410 ┆ true    ┆ 832.0   ┆ ... ┆ 2080  ┆ 1248.0   ┆ Adamant hast ┆ Adamant      │
│ ed,           ┆       ┆         ┆         ┆     ┆       ┆          ┆ a(p+).png    ┆ hasta(p+)    │
│ one-handed    ┆       ┆         ┆         ┆     ┆       ┆          ┆              ┆              │
│ adam...       ┆       ┆         ┆         ┆     ┆       ┆          ┆              ┆              │
└───────────────┴───────┴─────────┴─────────┴─────┴───────┴──────────┴──────────────┴──────────────┘

In [192]:
osrs_item_ids = [
    563, 562, 560, 565, 573, 569, 571, 1777, 5295, 257, 207, 99, 231, 139, 561, 575, 569, 571, 1515
]
osrs_high_alch_item_ids = [
    1397, 1399, 1393, 1395, 855
]

df_map.filter(pl.col('id').is_in((osrs_item_ids + osrs_high_alch_item_ids)))#.sample(3)

shape: (22, 9)
┌───────────────┬──────┬─────────┬─────────┬─────┬───────┬──────────┬───────────────┬──────────────┐
│ examine       ┆ id   ┆ members ┆ lowalch ┆ ... ┆ value ┆ highalch ┆ icon          ┆ name         │
│ ---           ┆ ---  ┆ ---     ┆ ---     ┆     ┆ ---   ┆ ---      ┆ ---           ┆ ---          │
│ str           ┆ i64  ┆ bool    ┆ f64     ┆     ┆ i64   ┆ f64      ┆ str           ┆ str          │
╞═══════════════╪══════╪═════════╪═════════╪═════╪═══════╪══════════╪═══════════════╪══════════════╡
│ It's a        ┆ 1397 ┆ true    ┆ 6200.0  ┆ ... ┆ 15500 ┆ 9300.0   ┆ Air battlesta ┆ Air          │
│ slightly      ┆      ┆         ┆         ┆     ┆       ┆          ┆ ff.png        ┆ battlestaff  │
│ magical       ┆      ┆         ┆         ┆     ┆       ┆          ┆               ┆              │
│ stick.        ┆      ┆         ┆         ┆     ┆       ┆          ┆               ┆              │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ A magic       ┆ 573  ┆ true    ┆ 120.0   ┆ ... ┆ 300   ┆ 180.0    ┆ Air orb.png   ┆ Air orb      │
│ glowing orb.  ┆      ┆         ┆         ┆     ┆       ┆          ┆               ┆              │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Used for high ┆ 565  ┆ true    ┆ 160.0   ┆ ... ┆ 400   ┆ 240.0    ┆ Blood         ┆ Blood rune   │
│ level missile ┆      ┆         ┆         ┆     ┆       ┆          ┆ rune.png      ┆              │
│ spel...       ┆      ┆         ┆         ┆     ┆       ┆          ┆               ┆              │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ I need a bow  ┆ 1777 ┆ true    ┆ 4.0     ┆ ... ┆ 10    ┆ 6.0      ┆ Bow           ┆ Bow string   │
│ stave to      ┆      ┆         ┆         ┆     ┆       ┆          ┆ string.png    ┆              │
│ attach thi... ┆      ┆         ┆         ┆     ┆       ┆          ┆               ┆              │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ ...           ┆ ...  ┆ ...     ┆ ...     ┆ ... ┆ ...   ┆ ...      ┆ ...           ┆ ...          │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ It's a        ┆ 1395 ┆ true    ┆ 6200.0  ┆ ... ┆ 15500 ┆ 9300.0   ┆ Water battles ┆ Water        │
│ slightly      ┆      ┆         ┆         ┆     ┆       ┆          ┆ taff.png      ┆ battlestaff  │
│ magical       ┆      ┆         ┆         ┆     ┆       ┆          ┆               ┆              │
│ stick.        ┆      ┆         ┆         ┆     ┆       ┆          ┆               ┆              │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ A magic       ┆ 571  ┆ true    ┆ 120.0   ┆ ... ┆ 300   ┆ 180.0    ┆ Water orb.png ┆ Water orb    │
│ glowing orb.  ┆      ┆         ┆         ┆     ┆       ┆          ┆               ┆              │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ Logs cut from ┆ 1515 ┆ false   ┆ 64.0    ┆ ... ┆ 160   ┆ 96.0     ┆ Yew logs.png  ┆ Yew logs     │
│ a yew tree.   ┆      ┆         ┆         ┆     ┆       ┆          ┆               ┆              │
├╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ A nice sturdy ┆ 855  ┆ true    ┆ 512.0   ┆ ... ┆ 1280  ┆ 768.0    ┆ Yew           ┆ Yew longbow  │
│ bow made out  ┆      ┆         ┆         ┆     ┆       ┆          ┆ longbow.png   ┆              │
│ of ye...      ┆      ┆         ┆         ┆     ┆       ┆          ┆               ┆              │
└───────────────┴──────┴─────────┴─────────┴─────┴───────┴──────────┴───────────────┴──────────────┘

Long term trending...

want to know when to buy certain runes

don't use for orbs when looking for prices to buy at. use: https://prices.runescape.wiki/api/v1/osrs/1h instead?
buy price: <= X, Profit: Y
via: (example) Air_Battlestaff.highalch - nature rune most recent 1hr price - 7000 for battlestaff >= 0.

either way, write to parquet. overwrite data in the same partition... (for long-term trending)...
read from parquet

        # pl.col("ymd_h").str.strptime(pl.Datetime, fmt="%y-%m-%d %H")

look for value <= 25P?

Trying out data conditioning on a single return

In [193]:
base_url = 'https://prices.runescape.wiki/api/v1/osrs/timeseries?timestep=1h&id='
headers = {
    'User-Agent': 'Major Discount Notification 0.1',
    'From': 'j.grant.redskins@gmail.com'  # This is another valid field
}

response = requests.get(
        base_url + str(573), headers=headers
    )

pl.DataFrame(
    pd.json_normalize(response.json(), record_path=['data'])
).with_column(
    pl.lit(573).alias('id')
).sample(3)

shape: (3, 6)
┌────────────┬──────────────┬─────────────┬─────────────────┬────────────────┬─────┐
│ timestamp  ┆ avgHighPrice ┆ avgLowPrice ┆ highPriceVolume ┆ lowPriceVolume ┆ id  │
│ ---        ┆ ---          ┆ ---         ┆ ---             ┆ ---            ┆ --- │
│ i64        ┆ i64          ┆ i64         ┆ i64             ┆ i64            ┆ i32 │
╞════════════╪══════════════╪═════════════╪═════════════════╪════════════════╪═════╡
│ 1665525600 ┆ 1544         ┆ 1526        ┆ 31255           ┆ 53737          ┆ 573 │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ 1665320400 ┆ 1454         ┆ 1416        ┆ 50767           ┆ 12643          ┆ 573 │
├╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┤
│ 1665586800 ┆ 1539         ┆ 1517        ┆ 50713           ┆ 24209          ┆ 573 │
└────────────┴──────────────┴─────────────┴─────────────────┴────────────────┴─────┘

In [194]:
base_url = 'https://prices.runescape.wiki/api/v1/osrs/timeseries?timestep=1h&id='
headers = {
    'User-Agent': 'Major Discount Notification 0.1',
    'From': 'j.grant.redskins@gmail.com'  # This is another valid field
}

df_timeseries = pl.DataFrame()

for item_id in osrs_item_ids:
    # print(base_url + str(item_id))
    response = requests.get(
        base_url + str(item_id), headers=headers
    )
    df_timeseries = pl.concat(
        [
            df_timeseries, pl.DataFrame(
                pd.json_normalize(response.json(), record_path=['data'])
            ).lazy().with_column(
                pl.lit(item_id).alias('id')
            ).with_columns(
                [
                    pl.col("timestamp").cast(pl.Int64), pl.col("avgHighPrice").cast(pl.Int64), pl.col("avgLowPrice").cast(pl.Int64),
                    pl.col("highPriceVolume").cast(pl.Int64), pl.col("lowPriceVolume").cast(pl.Int64), pl.col("id").cast(pl.Int64)
                ]
            ).with_column(
                (pl.col("timestamp") * 1e3).cast(pl.Datetime).dt.with_time_unit("ms").alias("datetime")
            ).with_column(
                pl.col("datetime").dt.strftime(fmt="%Y-%m-%d %H").cast(pl.Utf8).alias("ymd_h")
            ).collect()
        ], how = "diagonal", rechunk = True #vertical
    )

    # .with_column(
    #             pl.col("datetime").str.strptime(pl.Datetime, fmt="%y-%m-%d %H").alias("ymd_h")
    #         )

In [195]:
df_timeseries.sample(3)

shape: (3, 8)
┌─────────────┬────────────┬───────────┬────────────┬────────────┬──────┬─────────────┬────────────┐
│ timestamp   ┆ avgHighPri ┆ avgLowPri ┆ highPriceV ┆ lowPriceVo ┆ id   ┆ datetime    ┆ ymd_h      │
│ ---         ┆ ce         ┆ ce        ┆ olume      ┆ lume       ┆ ---  ┆ ---         ┆ ---        │
│ i64         ┆ ---        ┆ ---       ┆ ---        ┆ ---        ┆ i64  ┆ datetime[ms ┆ str        │
│             ┆ i64        ┆ i64       ┆ i64        ┆ i64        ┆      ┆ ]           ┆            │
╞═════════════╪════════════╪═══════════╪════════════╪════════════╪══════╪═════════════╪════════════╡
│ 1665183600  ┆ 208        ┆ 209       ┆ 37361      ┆ 106278     ┆ 1515 ┆ 2022-10-07  ┆ 2022-10-07 │
│             ┆            ┆           ┆            ┆            ┆      ┆ 23:00:00    ┆ 23         │
├╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 1664629200  ┆ 7640       ┆ 7579      ┆ 18340      ┆ 6593       ┆ 99   ┆ 2022-10-01  ┆ 2022-10-01 │
│             ┆            ┆           ┆            ┆            ┆      ┆ 13:00:00    ┆ 13         │
├╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 1664751600  ┆ 1698       ┆ 1673      ┆ 1018       ┆ 561        ┆ 571  ┆ 2022-10-02  ┆ 2022-10-02 │
│             ┆            ┆           ┆            ┆            ┆      ┆ 23:00:00    ┆ 23         │
└─────────────┴────────────┴───────────┴────────────┴────────────┴──────┴─────────────┴────────────┘

In [196]:
from pathlib import Path
Path("data/").mkdir(parents=True, exist_ok=True)

df_timeseries.write_parquet("data/test.parquet", compression = "zstd")

df_timeseries = pl.concat(
    [
        df_timeseries,
        # historical records saved off from previous run
        pl.scan_parquet("data/test.parquet").filter(
            pl.col("datetime") < df_timeseries.select("datetime").min()[0,0]
        ).collect()
    ], how = "vertical", rechunk = True
)

In [197]:
df_timeseries.join(
    df_map.filter(pl.col('id').is_in((osrs_item_ids + osrs_high_alch_item_ids))).select(
        ["id", "highalch", "members", "name"]
    ),
    on="id", how="inner"
).sample(3)

shape: (3, 11)
┌─────────┬────────────┬───────────┬────────────┬─────┬─────────────┬───────┬─────────┬────────────┐
│ timesta ┆ avgHighPri ┆ avgLowPri ┆ highPriceV ┆ ... ┆ ymd_h       ┆ higha ┆ members ┆ name       │
│ mp      ┆ ce         ┆ ce        ┆ olume      ┆     ┆ ---         ┆ lch   ┆ ---     ┆ ---        │
│ ---     ┆ ---        ┆ ---       ┆ ---        ┆     ┆ str         ┆ ---   ┆ bool    ┆ str        │
│ i64     ┆ i64        ┆ i64       ┆ i64        ┆     ┆             ┆ f64   ┆         ┆            │
╞═════════╪════════════╪═══════════╪════════════╪═════╪═════════════╪═══════╪═════════╪════════════╡
│ 1665133 ┆ 215        ┆ 210       ┆ 30159      ┆ ... ┆ 2022-10-07  ┆ 96.0  ┆ false   ┆ Yew logs   │
│ 200     ┆            ┆           ┆            ┆     ┆ 09          ┆       ┆         ┆            │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 1664964 ┆ 203        ┆ 197       ┆ 68358      ┆ ... ┆ 2022-10-05  ┆ 96.0  ┆ false   ┆ Yew logs   │
│ 000     ┆            ┆           ┆            ┆     ┆ 10          ┆       ┆         ┆            │
├╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 1665324 ┆ 1715       ┆ 1480      ┆ 546        ┆ ... ┆ 2022-10-09  ┆ 180.0 ┆ true    ┆ Earth orb  │
│ 000     ┆            ┆           ┆            ┆     ┆ 14          ┆       ┆         ┆            │
└─────────┴────────────┴───────────┴────────────┴─────┴─────────────┴───────┴─────────┴────────────┘

... or calculate median on avgHighPrice by id

In [198]:
df_timeseries.groupby("id").agg(
    pl.col("avgHighPrice").median()
).rename({"avgHighPrice": "med_avgHighPrice"}).sample(3)

shape: (3, 2)
┌─────┬──────────────────┐
│ id  ┆ med_avgHighPrice │
│ --- ┆ ---              │
│ i64 ┆ f64              │
╞═════╪══════════════════╡
│ 562 ┆ 79.0             │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 565 ┆ 244.0            │
├╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 231 ┆ 283.0            │
└─────┴──────────────────┘

In [199]:
df_timeseries.groupby("id").agg(
    [
        pl.all().sort_by('datetime').last()
    ]
).rename(
    {"avgHighPrice": "last_avgHighPrice", "avgLowPrice": "last_avgLowPrice"}
).select(["id", "last_avgHighPrice", "last_avgLowPrice"]).sample(2)

shape: (2, 3)
┌──────┬───────────────────┬──────────────────┐
│ id   ┆ last_avgHighPrice ┆ last_avgLowPrice │
│ ---  ┆ ---               ┆ ---              │
│ i64  ┆ i64               ┆ i64              │
╞══════╪═══════════════════╪══════════════════╡
│ 1777 ┆ 77                ┆ 76               │
├╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 231  ┆ 282               ┆ 282              │
└──────┴───────────────────┴──────────────────┘

In [200]:
df_results = df_timeseries.lazy().groupby("id").agg(
    pl.col("avgHighPrice").median()
).rename({"avgHighPrice": "med_avgHighPrice"}).join(
    df_timeseries.lazy().groupby("id").agg(
        [
            pl.all().sort_by('datetime').last()
        ]
    ).rename(
        {"avgHighPrice": "last_avgHighPrice", "avgLowPrice": "last_avgLowPrice"}
    ).select(["id", "last_avgHighPrice", "last_avgLowPrice"]),
    on="id", how="inner"
).join(
    df_map.lazy().filter(pl.col('id').is_in((osrs_item_ids + osrs_high_alch_item_ids))).select(
        ["id", "highalch", "members", "name"]
    ),
    on="id", how="inner"
).collect()

df_results.sample(2)

shape: (2, 7)
┌─────┬───────┬─────┬─────┬──────────┬─────────┬─────────────┐
│ id  ┆ med_a ┆ las ┆ las ┆ highalch ┆ members ┆ name        │
│ --- ┆ vgHig ┆ t_a ┆ t_a ┆ ---      ┆ ---     ┆ ---         │
│ i64 ┆ hPric ┆ vgH ┆ vgL ┆ f64      ┆ bool    ┆ str         │
│     ┆ e     ┆ igh ┆ owP ┆          ┆         ┆             │
│     ┆ ---   ┆ Pri ┆ ric ┆          ┆         ┆             │
│     ┆ f64   ┆ ce  ┆ e   ┆          ┆         ┆             │
│     ┆       ┆ --- ┆ --- ┆          ┆         ┆             │
│     ┆       ┆ i64 ┆ i64 ┆          ┆         ┆             │
╞═════╪═══════╪═════╪═════╪══════════╪═════════╪═════════════╡
│ 561 ┆ 139.0 ┆ 136 ┆ 134 ┆ 108.0    ┆ false   ┆ Nature rune │
├╌╌╌╌╌┼╌╌╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌┼╌╌╌╌╌╌╌╌╌╌╌╌╌┤
│ 562 ┆ 79.0  ┆ 79  ┆ 77  ┆ 54.0     ┆ false   ┆ Chaos rune  │
└─────┴───────┴─────┴─────┴──────────┴─────────┴─────────────┘

In [201]:
# high alch
# high_alch = df_map.filter(pl.col("id") == 1397).select("highalch")[0,0]
# nature rune
# nat_price = df_results.filter(pl.col("id") == 561).select("last_avgHighPrice")[0,0]
# battle staff = 7000
# air orb

df_air_b = df_results.lazy().filter(pl.col("id") == 573).with_columns(
    [
        (
            (
                df_map.filter(pl.col("id") == 1397).select("highalch")[0,0] - 
                (df_results.filter(pl.col("id") == 561).select("last_avgHighPrice")[0,0] + 7000)
            ) - pl.col("last_avgHighPrice")
        ).alias("profit"),
        (
            pl.col("last_avgHighPrice")/pl.col("med_avgHighPrice")
        ).round(2).alias("discount")
    ]
).with_columns(
    [
        pl.when(
                pl.col("profit") >= 0
            ).then("Buy").otherwise("Don't Buy").alias("if_Buy_str"),
        pl.when(pl.col("profit") >= 0).then(
            pl.concat_str(
                [
                    pl.lit(" between"),
                    pl.col("last_avgLowPrice"),
                    pl.lit("and"),
                    pl.col("last_avgHighPrice")
                ], sep = " "
            )
        ).otherwise("").alias("extra_str")
    ]
).collect()

air_orb_573 = (
    "### Air Orb:\n<br /> **" + str(df_air_b.select("if_Buy_str")[0,0]) + "**" +
    str(df_air_b.select("extra_str")[0,0]) + "\n<br />" +
    "**Profit**: *" + str(df_air_b.select("profit")[0,0]) + "*" +
    "**Value**: *" + str(df_air_b.select("discount")[0,0]) + "x against historical median*"
)

print(air_orb_573)

### Air Orb:
<br /> **Buy** between 1428 and 1438
<br />**Profit**: *726.0***Value**: *0.98x against historical median*

Let's try functionalizing...

In [202]:
def gen_staff_markdown(df_map, df_results, x_battlestaff_id, orb_id, nature_id = 561, battlestaff_price = 7000):

    df_orb = df_results.lazy().filter(pl.col("id") == orb_id).with_columns(
        [
            (
                (
                    # X battlestaff high alch price - (nature rune price + battlestaff_price)
                    df_map.filter(pl.col("id") == x_battlestaff_id).select("highalch")[0,0] - 
                    (df_results.filter(pl.col("id") == nature_id).select("last_avgHighPrice")[0,0] + battlestaff_price)
                ) - pl.col("last_avgHighPrice")
            ).alias("profit"),
            (
                pl.col("last_avgHighPrice")/pl.col("med_avgHighPrice")
            ).round(2).alias("discount")
        ]
    ).with_columns(
        [
            pl.when(
                    pl.col("profit") >= 0
                ).then("Buy").otherwise("Don't Buy").alias("if_Buy_str"),
            pl.when(pl.col("profit") >= 0).then(
                pl.concat_str(
                    [
                        pl.lit(" between"),
                        pl.col("last_avgLowPrice"),
                        pl.lit("and"),
                        pl.col("last_avgHighPrice")
                    ], sep = " "
                )
            ).otherwise("").alias("extra_str")
        ]
    ).collect()

    orb = (
        "### " + df_orb.select("name")[0,0] + ":\n<br /> **" + str(df_orb.select("if_Buy_str")[0,0]) + "**" +
        str(df_orb.select("extra_str")[0,0]) + "\n<br />" +
        "**Profit**: *" + str(df_orb.select("profit")[0,0]) + "*" +
        "**Value**: *" + str(df_orb.select("discount")[0,0]) + "x against historical median*"
    )

    return(orb)

def gen_bow_markdown(df_map, df_results, x_bow_id, log_id, nature_id = 561, bowstring_id = 1777):

    df_bowstring = df_results.lazy().filter(pl.col("id") == bowstring_id).with_columns(
        [
            (
                (
                    # X bow high alch price - (nature rune price + bowstring price + log price)
                    df_map.filter(pl.col("id") == x_bow_id).select("highalch")[0,0] - 
                    (
                        df_results.filter(pl.col("id") == nature_id).select("last_avgHighPrice")[0,0] + 
                        # df_results.filter(pl.col("id") == bowstring_id).select("last_avgHighPrice")[0,0] +
                        df_results.filter(pl.col("id") == log_id).select("last_avgHighPrice")[0,0]
                    )
                ) - pl.col("last_avgHighPrice")
            ).alias("profit"),
            (
                pl.col("last_avgHighPrice")/pl.col("med_avgHighPrice")
            ).round(2).alias("discount")
        ]
    ).with_columns(
        [
            pl.when(
                    pl.col("profit") >= 0
                ).then("Buy").otherwise("Don't Buy").alias("if_Buy_str"),
            pl.when(pl.col("profit") >= 0).then(
                pl.concat_str(
                    [
                        pl.lit(" between"),
                        pl.col("last_avgLowPrice"),
                        pl.lit("and"),
                        pl.col("last_avgHighPrice")
                    ], sep = " "
                )
            ).otherwise("").alias("extra_str")
        ]
    ).collect()

    bow_string = (
        "### " + df_bowstring.select("name")[0,0] + ":\n<br /> **" + str(df_bowstring.select("if_Buy_str")[0,0]) + "**" +
        str(df_bowstring.select("extra_str")[0,0]) + "\n<br />" +
        "**Profit**: *" + str(df_bowstring.select("profit")[0,0]) + "*" +
        "**Value**: *" + str(df_bowstring.select("discount")[0,0]) + "x against historical median*"
    )

    return(bow_string)

In [203]:
# gen_staff_markdown(df_map, df_results, x_battlestaff_id = 1397, orb_id = 573)
# gen_staff_markdown(df_map, df_results, x_battlestaff_id = 1399, orb_id = 575)
# gen_staff_markdown(df_map, df_results, x_battlestaff_id = 1393, orb_id = 569)
# gen_staff_markdown(df_map, df_results, x_battlestaff_id = 1395, orb_id = 571)

gen_bow_markdown(df_map, df_results, x_bow_id = 855, log_id = 1515, nature_id = 561, bowstring_id = 1777)

'### Bow string:\n<br /> **Buy** between 76 and 77\n<br />**Profit**: *350.0***Value**: *1.0x against historical median*'